/************** Global Layout ********
**************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #5b5f66;
  font-family: 'Lora', serif;
}

/************** Main ***************
************************************/
/* wrapper */
.wrapper {
  width: 95%;
  margin: 0 auto;
}

/* header */
h1 {
  background-color: #2d3035;
  color:#fff;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 1.2em 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.5em;
  text-align: center;
}

.latest_news {
  font-size: 1.2em;
  color: #a3a7af;
  text-align: center;
}

.signUp{
  text-align: center;
}

.thick_line {
  border: none;
  height: 5px;
  background-color: #2d3035;
  margin: 0;
}

.thin_line {
  border: none;
  height: 2.1px;
  background-color: #2d3035;
  margin-top: .3em;
}

/* form */
.bgr {
background-color: #cbf4f4;
border-radius: 10px;
padding: 1em 2em;
}

legend {
  font-weight: 700;
  margin-right: 3.5em;
  padding: 1em 0 1em 0;
  color: #2d3035;
  font-size: 1.3em; */
}

#top-form {
  border-radius: 10px;
  margin: 2em 0;
}

#bottom-form {
  border-radius: 10px;
  margin-top: 2em;
  padding-bottom: 2em;
}

 fieldset {
  border: none;
}

 label {
  font-size: 1.2em;
}

input,
#other_topics,
#state {
  padding: 20px 10px;
  margin: 12px 0;
	font-size: 1em;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  text-align: right;
  resize: none;
  color: #5b5f66;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

#top-form input,
#other_topics,
#state {
  width: 100%;
}
#other_topics{
  margin-bottom: 2em;
}
 input#zip {
  width: 50%;
}

input:focus,
#other_topics:focus,
#state:focus {
  border: #3f5c5e solid 2px;
  outline: none;
}

input:hover {
background-color: #48a5a5;
cursor: pointer;
}

.more-topics{
  margin-top: 2em;
}
button  {
  width:100%;
  background-color: #42b2b2;
  padding: .5em 0;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  font-family: 'Lora', serif;
  color: #fff;
  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

/* Custom Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Custom Radio Button */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radio {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radio:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/************** Footer ****************
***************************************/
footer {
  text-align: center;
  color:#b5b3aa;
  font-size: 1.1em;
  height: 10em;
}
/************** Media Query ****************
***************************************/
@media screen and (min-width:768px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

#top-form .input{
  text-align: right;
}

  .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: flex-start;
}

  .flexchild {
  align-self: center;
  text-align: left;
}

.latest_news {
  margin-bottom: 2em;
}

#top-form input,
#topics,
#state {
  width: 70%;
}

#top-form {
  margin-top: 3em;
 }

input#zip{
  width:35%;
}

label {
  width: 30%;
}

}
